/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #d5e2eb;
}

.container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color{
    list-style: none;
    margin: 13px;
    padding: 7px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    background: #fff;
    box-shadow: 0 10px 20px rgba(52,87,220,0.08);
    transition: transform 0.3s ease;
} 

.color:active{
    transform: scale(0.95);
}

.rect-box{
    width: 160px;
    height: 166px;
    border-radius: 5px;
}

.color:hover .rect-box{
    filter: brightness(106%);
}

.hex-value{
    display: block;
    margin: 12px 0 8px;
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
}

.refresh-btn{
    position: fixed;
    left: 50%;
    bottom: 40px;
    outline: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 12px 20px;
    font-weight: 500;
    background: #c1badd;
    border: none;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(52,87,220,0.08);
    transform: translateX(-50%);
    cursor: pointer;
}