*{
    margin: 0;
    padding: 0;
}

.container-slide{
    display: flex;
    justify-content: space-between;
    width: 50vw;  /*vw: referência é a largura*/
    height: 50vh; /*vh: referência é a altura*/
    background-color: black;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px #000;
}

.container-items{
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
}

.item{
    width: 50vw;
    height: 50vh;
    transition: all 1s;
}

.item:first-child{
    margin-left: -100%;
}

.item img{
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.action-button{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none;
    z-index: 1;/*especifica a ordem de sobreposição dos elementos na tela;  para que tenha efeito, o elemento precisa ter a propriedade position definida com o valor diferente de static*/
}

.action-button:hover{
    color: white;
    background-color: #00000000;
    border-radius: 10px;
    cursor: pointer;
    transition: all 3s;
} 

